/* Import Bootstrap CSS */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global styles */
body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Other global styles */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Add more global styles as needed */
