/* @tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
}
*:focus {
    outline: none;
}
section {
    width: 100%;
}
/* Navbar Styling */
.modern-navbar {
    /* background-color: #f4f4f4; */
    padding: 1rem 2rem;
    border-bottom: 1px solid #e0e0e0;
    font-family: "Roboto", sans-serif;
}

.modern-logo {
    width: 120px;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

/* Combined Search and Category Styling */
.combined-search-category {
    flex-grow: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
}
.combined-search-input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.combined-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.combined-group:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

/* Category Dropdown */
.category-wrapper {
    display: flex;
    align-items: center;
    border-right: 3px solid #dedede;
    cursor: pointer;
}

.category-dropdown {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    /* font-weight: bold; */
}

.category-dropdown i {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #888;
}

/* Search Input */
.combined-search-input {
    flex-grow: 1;
    border: none;
    /* padding: 0.8rem; */
    font-size: 1rem;
    outline: none;
    background-color: #fff;
}

#loader {
    position: fixed;  /*Fix to the viewport*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);  /*White background with some transparency*/
    backdrop-filter: blur(10px);  /*Apply a blur to the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;  /*Ensure the loader stays on top*/
  }

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }
  .loader::before {
    border-color: #f03355 #0000;
    animation: inherit;
    animation-duration: .5s;
    animation-direction: reverse;
  }
  .loader::after {
    margin: 8px;
  }
  @keyframes l16 {
    100%{transform: rotate(1turn)}
  }
/* Full-screen overlay loader */
/* #loader {
    position: fixed;  Fix to the viewport
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);  White background with some transparency
    backdrop-filter: blur(10px);  Apply a blur to the background */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* z-index: 9999;  Ensure the loader stays on top */
  /* } */

  /* Spinner styles */
  /* .spinner { */
    /* width: 100px;  Set the size of your loader */
    /* height: 100px; */
    /* background-image: url('../../public/assets/images/BYTE_LOGO.webp');  Replace with your loader image URL */
    /* background-size: contain;  Make sure the image scales nicely */
    /* background-repeat: no-repeat;
    background-position: center; */

    /* Animation for the spinner (rotate it) */
    /* -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  } */

  /* Keyframe animation for rotation */
  /* @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px); }
    50% { -webkit-transform: perspective(120px) rotateY(180deg); }
    100% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  } */

.combined-search-input::placeholder {
    color: #aaa;
}

/* Search Button */
.combined-search-btn {
    background-color: #ef4137;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.combined-search-btn:hover {
    background-color: #0056b3;
}

/* Phone Contact */
.phone-contact {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.phone-link {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.phone-link i {
    color: #007bff;
}

.contact-text {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 100;
}
.nav-link {
    color: #111;
    font-weight: bold;
    font-size: 14px;
}
.container {
    display: inline-block;
    cursor: pointer;
}
.hamburger {
    margin-right: 5px;
}
.bar1,
.bar2,
.bar3 {
    width: 24px;
    height: 1.5px;
    background-color: #333;
    margin: 4.5px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
.btn-no-border {
    border: none;
    box-shadow: none;
    background: none !important;
    color: #ef4137;
}
.card-img-top {
    object-fit: contain;
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;
}
/* Styling for the 'New' tag */
.new-tag {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #EF4137;
    color: white;
    padding: 3px 8px;
    /* font-size: 14px; */
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
}

.swiper {
    width: 100%;
    padding: 20px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
}
.small-sub-sec {
    background-image: url('../../public/assets/images/img.png');
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.chat {
    border: 1px solid;
    padding: 5px;
    color: #111;
    border-radius: 5px;
}
.featCategory {
    background-image: url('../../public/assets/images/category-bg.webp');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 150px; /* Set a minimum height for the container */
}

.featCategory div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 90px;
    margin: 5px; /* Adjusted margin to create consistent spacing */
}

.featCategory img {
    width: auto;
    height: 50px;
    margin-bottom: 5px;
}

.featCategory span {
    font-size: 10px;
    color: #fff;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .featCategory {
        flex-direction: column;
        height: auto;
        padding: 20px;
        min-height: auto;
    }

    .featCategory div {
        width: 100%;
        max-width: none;
    }

    .featCategory img {
        width: 40px;
        height: 40px;
    }

    .featCategory span {
        font-size: 12px;
    }
    .needHelp{
        font-size: 15px;
    }
}


footer {
    background: linear-gradient(to right, #681919, #DC2E2E);
    color: white;
    /* padding: 40px 20px; */
    font-family: Arial, sans-serif;
}

footer h4 {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

footer ul li i {
    margin-right: 10px;
    font-size: 20px;
    color: white;
    flex-shrink: 0;
}

footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #ffc107; /* Highlight link color on hover */
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

footer .container > div {
    flex: 1;
    min-width: 200px; /* Ensures sections stack on smaller screens */
}

footer .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for "Company" section */
    gap: 10px;
}

footer .grid-container > div {
    margin-top: 20px;
}

footer .grid-container > div:first-child {
    margin-top: 0; /* Aligns the first column properly */
}



